/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@use "m3-theme.scss";
@use "material-component-designs/mat-card.scss";
@use "material-component-designs/mat-form-field.scss";
@use "./material-component-designs/mat-dialog.scss";
@use "colors.scss";
html,
body {
  height: 100%;
  color: white;
  background-color: colors.$backgroundColor;
}
body {
  margin: 0;
}

//Button scss

.primary-btn {
  min-width: 90px;
  @include mat.button-overrides(
    (
      filled-container-height: 35px,
      filled-container-shape: 8px,
    )
  );
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint-text {
  font-size: 12px;
  line-height: 16px;
  color: colors.$hintTextColor;
}

.label-form-container {
  .form-label {
    margin-bottom: 20px;
  }
  mat-hint {
    color: colors.$hintTextColor;
  }
}
