@use "@angular/material" as mat;

@use "../../../colors.scss";

mat-card {
  @include mat.card-overrides(
    (
      subtitle-text-color: rgb(27, 27, 27),
    )
  );
  & {
    cursor: pointer;
    margin: 20px;
    width: 350px;
    height: 260px;
  }
  mat-card-title {
    @include mat.card-overrides(
      (
        title-text-weight: bold,
      )
    );
    & {
      color: black;
    }
  }
  mat-card-subtitle {
    margin-top: 10px;
    max-height: 90px;
    overflow: hidden;

    .subtitle-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      line-height: 23px;
    }
  }
  mat-card-footer {
    position: absolute;
    bottom: 20px;
    margin-top: 15px;
    color: black;
  }
}

mat-card.severe {
  @include mat.card-overrides(
    (
      subtitle-text-color: whitesmoke,
      elevated-container-color: colors.$prioritySevere,
    )
  );
  mat-card-title {
    color: white;
  }

  mat-card-footer {
    color: white;
  }
}

mat-card.medium {
  @include mat.card-overrides(
    (
      elevated-container-color: colors.$priorityMedium,
    )
  );
}
mat-card.low {
  @include mat.card-overrides(
    (
      elevated-container-color: colors.$priorityLow,
    )
  );
}
mat-card.high {
  @include mat.card-overrides(
    (
      elevated-container-color: colors.$priorityHigh,
    )
  );
}

mat-card:focus {
  box-shadow: 0px 0px 12px white;
  border: 1px solid white;
  outline: none;
}
