<div class="login-page">
    <mat-card class="login-card">
        <div class="center-content">
            <div class="logo-container">
                <app-logo [width]="100" [height]="100"></app-logo>
            </div>
        </div>
        <div class="center-content">
            <h4>Login with TaskTrek Account</h4>
        </div>
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>
                Username or Email
            </mat-label>
            <input matInput placeholder="Username or Email" value="smil.raj.thakur@gmail.com" disabled>
        </mat-form-field>
        <!-- <mat-form-field class="login-input" appearance="outline">
            <mat-label>
                Password
            </mat-label>
            <input matInput placeholder="Password">
        </mat-form-field> -->
        <div class="flex-1"></div>
        <div class="center-content next-btn">
            <button class="primary-btn" mat-flat-button>Next</button>
        </div>
        <div class="flex-1"></div>

        <div class="other-actions">
            <button mat-button>Forget your password?</button>
            <button mat-button>Create TaskTrek account</button>
        </div>
    </mat-card>
</div>