.login-page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-card {
    position: relative;
    min-width: 550px;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 500px;

    .logo-container {
      background-image: url("../../../public/assets/curvyCircle.png");
      background-size: cover;
      width: fit-content;
      margin-bottom: 25px;
    }

    .login-input {
      margin-top: 5px;
    }

    mat-divider {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .register-span {
      display: flex;
      align-items: center;
    }

    .next-btn {
      margin-bottom: 10px;
    }

    .flex-1 {
      flex: 1;
    }

    .other-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
