<div class="header-container">
    <app-logo [width]="80" [height]="80"></app-logo>
    <div class="header-actions">
        <button mat-button>Home</button>
        <button mat-button>Settings</button>
        <button (click)="openNewTicketDialog()" matTooltip="Create new ticket" mat-icon-button
            aria-label="Create Ticket">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
        </button>
        <div class="profile-photo">
            S
        </div>
    </div>
</div>