.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;

    button {
      margin-right: 10px;
    }

    .profile-photo {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      background-color: white;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
    }
  }
}
