<div class="login-page">
    <mat-card class="login-card">
        <div class="center-content">
            <div class="logo-container">
                <app-logo [width]="100" [height]="100"></app-logo>
            </div>
        </div>
        <div class="center-content">
            <h4>Create your TaskTrek Account </h4>
        </div>
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>
                Username
            </mat-label>
            <input matInput placeholder="Email" type="text">
        </mat-form-field>
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>
                Email
            </mat-label>
            <input matInput placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>
                Organization
            </mat-label>
            <input matInput placeholder="Organization (for eg: Apple, Microsoft)" type="text">
        </mat-form-field>
        <mat-form-field class="login-input" appearance="outline">
            <mat-label>
                Password
            </mat-label>
            <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <div class="flex-1"></div>
        <div class="center-content next-btn">
            <button class="primary-btn" mat-flat-button>Next</button>
        </div>
        <div class="flex-1"></div>
        <div class="other-actions">
            <button (click)="navigateToLoginPage()" mat-button>Already have TaskTrek account?</button>
        </div>
    </mat-card>
</div>